<html>
<head>
    <title>Vurest</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lemonade.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/script-ck.js"></script>

</head>
<body>
    <div class="bit-1">
        <div class="box">
            <form method=get action="{{ url_for('query') }}">
                <input type=text autofocus='autofocus' 
                       name=q value="{{ query }}" />
                <input type=hidden name=sigel value=DE-15 />
                <input type=submit value=Search />
            </form>
        </div>
        <ul>
        {% for item in items %}
                <li>
                    <div class='item'>
                        <span class='availability-{{ item.availability.availability }}'>&#x2605;</span>
                        <strong>{{ item.title }}</strong> ({{ item.year }})
                        {{ item.availability.location }} [{{ item.availability.callnumber }}]
                    </div>
                </li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>